<footer>
      <div></div>
            <!-- Language switcher -->
            <a href="?lang=en">English</a> | 
            <a href="?lang=es">Español</a> | 
            <a href="?lang=fr">Français</a> | 
            <a href="?lang=it">Italiano</a>
        </div>
    <p>&copy; 2024 {{__ 'Ticket Sales App'}}. {{__ 'All rights reserved.'}}</p>
</footer>
