<header>
    <div class="container">
        <div id="branding">
            <h1><a href="/">{{__ 'Ticket Sales App'}}</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">{{__ 'Home'}}</a></li>
                         
               
            </ul>
        </nav>
    </div>
</header>

